[Unit]
Description=Terminal file chooser portal backend
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/home/tod/.local/libexec/xdg-desktop-portal-termfilechooser
Restart=on-failure

[Install]
WantedBy=graphical-session.target
